.hero-container {
  position: relative;
  z-index: 100;
}

.hero-text {
  position: relative;
  z-index: 200;
}

.hero-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  opacity: 0.4;
}

.card-link {
  text-decoration: none;
}

.card:hover {
  box-shadow: var(--bs-box-shadow);
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); */
}

/* .NextgamesTable, .LastGamesTable {
  width:100%
} */

.NextGamesTable td img, .LastGamesTable td img {
  width:20px;
}

.NextGamesTable colgroup .column-1 {
  width: 18%;
}

.NextGamesTable colgroup .column-2 {
  width: 10%;
}

.NextGamesTable colgroup .column-3 {
  width: 26%;
}

.NextGamesTable colgroup .column-4 {
  width: 26%;
}

.NextGamesTable colgroup .column-5 {
  width: 20%;
}

.LastGamesTable colgroup .column-1 {
  width: 18%;
}

.LastGamesTable colgroup .column-2 {
  width: 26%;
}

.LastGamesTable colgroup .column-3 {
  width: 10%;
}

.LastGamesTable colgroup .column-4 {
  width: 26%;
}

.LastGamesTable colgroup .column-5 {
  width: 20%;
}

a.nav-link, a.navbar-brand {
  color: #ffffff;
}

li.nav-item {
  padding: 5px 15px;
}

footer {
  background-color: #00274D;
  color: #FFFFFF;
}

img.linkedin-icon {
  height: 20px;
}

.linkedin-icon-wrapper {
  display: inline-block; /* Ensures wrapper behaves like inline content */
  border-bottom: 2px solid transparent; /* Invisible underline */
  padding-bottom: 5px;
  transition: border-color 0.3s ease; /* Smooth transition on hover */
}

.linkedin-link:hover .linkedin-icon-wrapper {
  border-color: white; /* Underline appears in white color */
}